%section[f.object]
<% (ref_belongs_to.merge(ref_attributes).merge(ref_hidden_attributes)).each do |name, att| -%>
  = f.<%= att.reference? ? :association : :attribute %> :<%= att.name %>, value: custom_view(f.object, '<%= att.name %>')
<% end -%>
