.row
  .col-md-12
    %h1= t('.all_<%= plural_name %>', default: '<%= plural_title_name %>')
    = render 'sub_navigation', page: 'all'

.row
  .col-md-12
    = render 'grid_<%= singular_name %>_fields', list: collection, table: 'index'
    = paginate collection
